@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
@import url("https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap");

* {
  font-family: "Fuzzy Bubbles", cursive;
}

/* Scrollbar customization */

::-webkit-scrollbar {
  width: 0.75rem;
  border-radius: 150px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 150px;
}

::-webkit-scrollbar-thumb{
  background: #de2626;
  border-radius: 150px;
}

/* Selection Customization */

::-moz-selection {
  background: #ed6e6e;
  color: #fff;
}
::-webkit-selection {
  background: #ed6e6e;
  color: #fff;
}
::selection {
  background: #ed6e6e;
  color: #fff;
}
